ロスフラワーという言葉を知っていますか？

ロスフラワーはまだ綺麗で楽しめるにも関わらず、様々な理由で捨てられてしまうお花たちのことです。
2020年～2022年の間に起こったコロナウイルスでお祝い事やイベントが減り、人目に触れられず捨てられるお花がたくさん出ました。

 
コロナが明けた今でも生産量の30～40％が廃棄されているお花たち。このサイトを通じてその現状を少しでも多くの人に知って、1本でも多く人々と触れてほしいと願っています。


<h1>香水診断スタート</h1>
<%= link_to "診断を始める", new_perfume_path, class: "link" %>
