<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめの香りは…</p>
  
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3,@perfume.question4] %>
  <% when ["1", "1", "1"] %>
    <h6>カキツバタ</h6>
    <p>意味：幸せは必ず来る</p>
    <p>紫の色彩が鮮やか。</p>
  <% when ["1", "1", "2"] %>
    <h6>カロライナジャスミン</h6>
    <p>意味：甘いささやき・素直</p>
    <p>リラックス効果がある</p>
  <% when ["1", "1", "3"] %>
    <h6>スズラン</h6>
    <p>意味：再び幸せが訪れる</p>
    <p>ストレスを緩和してくれる効果がある・純粋</p>
  <% when ["1", "2", "1"] %>
    <h6>シャクヤク</h6>
    <p>意味：はじらい・慎ましさ</p>
    <p>甘く、女性的な香り。気持ちを落ち着かせてくれる</p>
  <% when ["1", "2", "2"] %>
    <h6>リューココローネ</h6>
    <p>意味：暖かい心・信じる心</p>
    <p>うっとりするほど甘い香り</p>
  <% when ["1", "2", "3"] %>
    <h6>ユリ</h6>
    <p>意味：純粋・無垢</p>
    <p>切り花・鉢植えとして広く流通しているため、自分へ、大切な人へマルチに送れるお花</p>
  <% when ["2", "2", "2"] %>
    <h6>ソケイ</h6>
    <p>意味：かわいらしさ・可憐</p>
    <p>特徴的で甘い香り・万人受けしやすい</p>
  <% when ["2", "2", "3"] %>
    <h6>ユーカリ</h6>
    <p>しっかりとした優しい香り</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>
  <% when ["3", "1", "1"] %>
    <h6>フジバカマ</h6>
    <p>意味：躊躇・ためらい・あの日を思い出す</p>
    <p>きりりとした強めの香りが特徴的・エキスを抽出し、アロマにすると美容効果が高い。疲れた心身に寄り添ってくれるお花</p>
  <% when ["3", "1", "2"] %>
    <h6>ストック</h6>
    <p>意味：愛の絆・豊かな愛</p>
    <p>甘くてフレッシュな、万能な香料</p>
  <% when ["3", "2", "1"] %>
    <h6>ミモザ</h6>
    <p>意味・友情・優雅</p>
    <p>優しくさわやかな香り。近年では化粧品にも使用されるなど、美容効果の高いお花として注目されている。</p>
  <% when ["3", "2", "2"] %>
    <h6>フジ</h6>
    <p>意味：やさしさ・歓迎</p>
    <p>魅惑的で色気のある香り</p>
  <% when ["3", "2", "3"] %>
    <h6>ライラック</h6>
    <p>意味：思い出・友情</p>
    <p>リラとも呼ばれる香りのよいお花を咲かせる。</p>
   <% end %>
</div>
